body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    line-height: 1.5;
    padding: 0em 1em 4em 1em;
    background-color: #1E1E1E;
    color: #FFFAFB
}

h2,h1 {
    position: sticky;
    top:0;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 5 em;
    background-color: #339989;
    border-radius: 25px;
    z-index: 10;
    color: white;
}

img{
    border-radius: 70px;
}

table,th,td{
    border-width: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFD400;
    border-collapse: collapse;
    color:#1E1E1E;
}

td,th{
    border-color: #000000;
    border-width: 2px;
}

td{
    font-weight: 900;
    padding: 10px;
}

.references{
    font-style:italic;
    font-size: 0.2 em;
}


#image_love{
    position: relative;
    height: 550px;
}

#love{
    position: absolute;
    width:50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#header{
    border-radius: 0;
    position: sticky;
}

.musicals{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.image_music{
    position: relative;
    height: 200px;
    width: 200px;

}

.typey::after{
    content: '';
    display: inline-block;
    width: 0.6ch;
    height: 1em;
    margin-left: 0.1ch;
    background: currentColor;
    animation: blink 750ms steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}